.login-item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;

  & > p {
    color: rgb(214, 214, 214);
    font-family: Lora, serif;
    font-size: 33px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
  }

  .authorization-input {
    //width: 316px;
    //height: 56px;
    //padding: 0;
    //background: none;
    //border: 1px solid rgb(189, 193, 195);
    //border-radius: 10px;
    input {
      border: 1px solid rgb(189, 193, 195);
      border-radius: 10px;

    }
    //input:focus {
    //  border-radius: 10px;
    //
    //}
    fieldset {
      border: none;
    }
    & > div:hover {
      //border: 1px solid rgb(189, 193, 195);
      border-radius: 10px;
    }
    //&:focus {
    //  border: none;
    //}

    label {
      color: rgb(214, 214, 217, 0.4);
      font-family: Lora, serif;
      //font-size: 23px;
      //font-weight: 500;
      //line-height: 29px;
      //text-align: left;
    }
  }
}