.new-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 200px 0;

  .new-password__input {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  input {
    width: 360px;
    color: rgb(102, 102, 102);
    font-family: Lora, serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    text-align: left;
    padding-left: 15px;
    outline: none;
    border: none;
    border-radius: 15px;
  }

  h3 {
    color: rgb(214, 214, 214);
    font-family: Lora, serif;
    font-size: 33px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(214, 214, 214);
    outline: none;
    border: none;
    color: rgb(29, 46, 68);
    font-family: Lora, serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    height: 50px;
    width: 270px;
  }

}