* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    background: linear-gradient(90.00deg, rgb(36, 59, 85),rgb(20, 30, 48) 98.594%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}