.auth-textfield__label {
    color: rgba(196, 196, 196, 1) !important;
}

.auth-textfield__input {
    color: rgb(189, 193, 195) !important;
    //background-color: rgb(189, 193, 195) !important;
}

.customTextField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    border-color: rgb(189, 193, 195);
}


.customTextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.customTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
}
