.practice-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  min-width: 400px;
  background: rgb(27, 35, 51);
  border-radius: 8px;

  .content {
    display: flex;
    //flex-direction: column;
    gap: 15px;

    h5 {
      font-size: 28px;
    }
    
  }
  .vertical-line {
    padding: 0 0 0 15px;
    border-left: 1.5px solid rgba(177, 177, 177, 0.3);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    h5 {
      text-align: center;
    }
  }

  h5 {
    color: rgb(255, 255, 255);
    font-family: Lora, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
  }
}